<%- include('../includes/header.ejs') %>
<main class="content">
<h1 class="page-title">اضافه کردن محصول</h1>
    <form action="" method="POST" class="add-product-form">
        <input type="text" name="title" id="" placeholder="اسم محصول">
        <input type="text" name="description" id="" placeholder="توضیحات">
        <input type="text" name="price" id="" placeholder="قیمت">
        <button>افزدودن</button>
    </form>
</main>
<%- include('../includes/footer.ejs') %>
    
