
<html>
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <nav class="top-menu">
        <ul>
            <li>
                <a href="/">فروشگاه</a>
            </li>
            <li>
                <a href="/products">محصولات</a>
            </li>
            <li>
                <a href="/cart">سبد خرید</a>
            </li>
            <li>
                <a href="/admin/products">محصولات ادمین</a>
            </li>
            <li>
                <a href="/admin/add-product">اضافه کردن محصول</a>
            </li>
            <li>
                <a href="/order">لیست سفارشات</a>
            </li>
        </ul>
    </nav>
</header>
