<%- include('../includes/header.ejs') %>

<main class="content">
    <h1 class="page-title">فروشگاه</h1>
    <h2>محصولات </h2>
    <% if (productsArray.length > 0 ) { %>
        <% for (let product of productsArray){ %>
            <div class="product-info">
                <figure>
                    <img src="../images/product-image.png" alt="">
                </figure>
                <h2><%= product.title %></h2>
                <p class="product-description">درباره محصول : <%= product.description%></p>
                <p class="product-price">تومان : <%= product.price%></p>
                <form action="/add-to-cart" method="POST">
                    <button>افزودن به سبد خرید</button>
                </form>
            </div>
        <%}%>
    <% } else{ %>
        <p>محصول وجود ندارد</p>
    <% } %>
</main>
<%- include('../includes/footer.ejs') %>